<div class="apps-banner" data-pagefind-ignore>
  <div class="apps-banner-content-sizing">
    <div class="apps-banner-content">
      <!--<img class="apps-banner-content-logo" src="/images/TrueNAS-Logo.webp" alt="TrueNAS Logo">-->
      <h1 class="apps-banner-head">{{ site.Title }}</h1>
      <p class="apps-banner-text">Documentation for a WebSocket interface that communicates with TrueNAS middleware.</p>
      <a class="apps-banner-download" href="https://www.truenas.com/download-truenas-scale/">Download TrueNAS</a>
    </div>
	<img class="apps-banner-image" src="/images/truenas_api_docs_example.png" alt="TrueNAS API Docs Example">
  </div>
</div>
